package ${packageName}.mapper;

import java.util.List;
import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import ${packageName}.domain.${ClassName};
#if($table.sub)
import ${packageName}.domain.${subClassName};
#end

/**
 * ${subTable.functionName}Mapper接口
 *
 * @author ${author}
 * @date ${datetime}
 */
public interface ${subClassName}Mapper extends BaseMapper<${subClassName}>
{

}
