package ${packageName}.domain;

#foreach ($import in $subImportList)
import ${import};
#end
import java.io.Serializable;
import com.baomidou.mybatisplus.annotation.TableName;
import com.baomidou.mybatisplus.annotation.TableField;
import com.baomidou.mybatisplus.annotation.TableId;
import lombok.Data;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import com.ruoyi.framework.aspectj.lang.annotation.Excel;

/**
 * ${subTable.functionName}对象 ${subTableName}
 *
 * @author ${author}
 * @date ${datetime}
 */
@Data
@ApiModel(value = "${subClassName}", description = "${subTable.functionName}")
@TableName("${subTableName}")
public class ${subClassName} implements Serializable
{
    private static final long serialVersionUID = 1L;

#foreach ($column in $subTable.columns)
    /** $column.columnComment */
#if($column.list)
#set($parentheseIndex=$column.columnComment.indexOf("（"))
#if($parentheseIndex != -1)
#set($comment=$column.columnComment.substring(0, $parentheseIndex))
#else
#set($comment=$column.columnComment)
#end
#if($parentheseIndex != -1)
    @Excel(name = "${comment}", readConverterExp = "$column.readConverterExp()")
#elseif($column.javaType == 'Date')
    @JsonFormat(pattern = "yyyy-MM-dd")
    @Excel(name = "${comment}", width = 30, dateFormat = "yyyy-MM-dd")
#else
    @Excel(name = "${comment}")
#end
#end
    @ApiModelProperty("$column.columnComment")
#set($columnName=$column.columnName)
#if($column.pk)
    @TableId(value = "${columnName}", type = IdType.ASSIGN_ID)
#else
    @TableField("${columnName}")
#end
    private $column.javaType $column.javaField;

#end
}
